$orange : hsl(26, 100%, 55%);
$orangePale : hsl(25, 100%, 94%);

$blueVeryVark : hsl(220, 13%, 13%);
$blueGrayishDark : hsl(219, 9%, 45%);
$blueGrayish: hsl(220, 14%, 75%);
$blueGrayishLight: hsl(223, 64%, 98%);
$white : hsl(223, 64%, 98%);
$black :  hsl(0, 0%, 0%);
