@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@500&display=swap');

$orange : hsl(26, 100%, 55%);
$orangePale : hsl(25, 100%, 94%);

$blueVeryVark : hsl(220, 13%, 13%);
$blueGrayishDark : hsl(219, 9%, 45%);
$blueGrayish: hsl(220, 14%, 75%);
$blueGrayishLight: hsl(223, 64%, 98%);
$white : hsl(223, 64%, 98%);
$black :  hsl(0, 0%, 0%);
